<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<!-- <bean id="mydate" class="java.util.Date"/> -->
	
	<!-- 下面3个Service类都使用了注解 -->
	
	<!-- <bean id="categoryService" class="com.ssh.shop.service.impl.CategoryServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean> -->
	<!-- 泛型类不能实例化，所以开始不加载 
	<bean id="baseService" class="com.ssh.shop.service.impl.BaseServiceImpl" lazy-init="true">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	-->
	<!-- 配置categoryService，并配置父类 
	<bean id="categoryService" class="com.ssh.shop.service.impl.CategoryServiceImpl" parent="baseService"/>
	
	<bean id="accountService" class="com.ssh.shop.service.impl.AccountServiceImpl" parent="baseService"/>
	-->
</beans>